<form class="main-container" [formGroup]="userForm" (ngSubmit)="save()">
  <h3>
    <i class="fas fa-user color-primary" style="padding-right: 5px;"></i> Crear Usuario
  </h3>
  <div class="form-row">
    <label>Nombre completo</label>
    <input formControlName="fullName" type="text">
  </div>
  <div class="form-row">
    <label>Usuario</label>
    <input formControlName="userName" type="text">
  </div>
  <div class="form-row">
    <label>Email</label>
    <input formControlName="email" type="email">
  </div>
  <div class="form-row">
    <button mat-raised-button type="submit" color="primary">Enviar</button>
  </div>
</form>
