:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header {
    .logo {
      align-items: center;
      color: rgba(255,255,255,1);
      display: flex;
      transition: all 0.25s ease;
      &:hover {
        color: rgba(255,255,255,0.75);
      }
      .app-name {
        margin-left: 5px;
      }
    }
  }
  mat-drawer-container {
    flex: 1 1 auto;
    .sidenav {
      padding: 15px;
      a, a:active {
        color: rgba(255,255,255,0.75);
        & a {
          margin-top: 10px;
        }
      }
    }
  }
}

